.register {
  font-family: "Inter", Arial, sans-serif;
  background-color: #fff;
  padding: 50px 0 70px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.register__logo {
  width: 38px;
  height: 38px;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 40px 0;
}

.register__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.register__input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.register__label {
  font-family: "Inter", Arial, sans-serif;
  color: #a0a0a0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__inlet {
  width: 366px;
  font-family: "Inter", Arial, sans-serif;
  color: #000;
  margin-top: 10px;
  padding: 15px;
  font-size: 13px;
  line-height: 16px;
  border: none;
  background: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
}

.register__submit {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  border: none;
  background-color: black;
  border-radius: 3px;
  width: 396px;
  margin: 80px auto 16px 0;
  padding: 13px 0 15px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0s;
}

.register__submit:hover {
  opacity: 0.5;
  cursor: pointer;
}

.profile__save:hover {
  opacity: 0.6;
  cursor: pointer;
}

.register__question {
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.register__login {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__login:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .register {
    padding: 232px 0 232px;
  }
}

@media screen and (max-width: 500px) {
  .register {
    padding: 56px 30px 20px;
    align-items: center;
  }

  .register__title {
    margin: 50px auto 80px;
  }

  .register__inlet {
    width: 230px;
  }

  .register__submit {
    font-size: 12px;
    margin: 160px auto 14px;
    width: 260px;
  }

  .register__question {
    font-size: 12px;
  }

  .register__login {
    font-size: 12px;
  }
}
